doctype html
html(ng-app="HappIT")
	head
		title= title
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/app.css')
	body
		.content-wrap(ng-controller="AppController")
			#main-modal.modal.fade
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type="button", data-dismiss="modal")
								span(aria-hidden="true") &times;
								span.sr-only Close
							h1.modal-title {{habitName}}
						.modal-body
							h4 Today's Progress:
							.progress-wrap
								.bar-wrap
									.bar-length-today
							h4 Overall Progress:
							.progress-wrap
								.bar-wrap
									.bar-length-overall
							.dividing-line
							h4 Compare with Friends(overall):
								h5 John F. 
								.progress-wrap
									.bar-wrap
										.bar-length-john
								h5 Eric T. 
								.progress-wrap
									.bar-wrap
										.bar-length-eric
								h5 Sean M. 
								.progress-wrap
									.bar-wrap
										.bar-length-sean

						.modal-footer
							button.btn.btn-default(type="button", data-dismiss="modal") Close
			.log-notification
				h3 {{alertText}}
			.main-content-wrap
				.container
					.navbar-header
						a.navbar-brand(href="#") HappIT
					nav.collapse.navbar-collapse.bs-navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li
								a(href="#") Achievements
							li
								a(href="#") Blog
							li
								a(href="#") Pricing
							li
								.dropdown
									a#headerDropdown.dropdown-toggle(type="button", data-toggle="dropdown") Hello, Ryan
										span.caret
									ul.dropdown-menu(aria-labelledby="headerDropdown")
										li
											a(href="#") Profile
										li
											a(href="#") Privacy
										li.divider
										li
											a(href="/", target="_self") Logout
				.main-content
					.container-fluid
						.row 
							ng-view

		script(src="/bower_components/jquery/dist/jquery.min.js")
		script(src="/bower_components/jquery-stopwatch-master/jquery.stopwatch.js")
		script(src="/bower_components/underscore/underscore.js")
		script(src="/bower_components/angular/angular.min.js")
		script(src="/bower_components/angular-route/angular-route.min.js")
		script(src="/bower_components/bootstrap/js/dropdown.js")
		script(src="/bower_components/bootstrap/js/modal.js")

		// Custom
		script(src="/javascripts/main.js")
		script(src="/javascripts/db.js")
		script(src="/javascripts/app.js")
		script(src="/javascripts/new.js")
		script(src="/javascripts/dashboard.js")