.create-buttons-wrap
	.col-md-2
	.col-md-3
		a(href="/newhabit/make") 
			.habit-button-wrap.make-habit-button
				h1 Make a Habit
	.col-md-2
	.col-md-3
		a(href="/newhabit/break") 
			.habit-button-wrap.break-habit-button
				h1 Break a Habit
	.col-md-2