extends layout

block content
	#home-wrap
		#home-text-wrap
			.container-fluid
				.content-wrap
					#background-trans
					#home-text
						h1 HappIT
						p A Good Life Comes From Good Habits
						a#login-button-login-fb.button-facebook.js-facebook-login(href="/home") Get Started Today   
		#video-wrap
			video.home-video(src="/images/fly.webm", muted="true" loop)