.newmake-container
	.col-md-4
	form.col-md-4(novalidate)
		.form-group
			label(for="habit-name") Name of the Habit:
			input#habit-name.form-control(type="text", ng-model="newHabit.name", placeholder="Name...")
		.form-group
			label(for="habit-days") I will {{newHabit.name}} for 
			input#habit-days.form-control(type="text", ng-model="newHabit.numADay", placeholder="Ex. 3")
			label times a day for 30 days.
		button.newmake-create-btn.btn.btn-primary(ng-click="") Begin!
	.col-md-4
