body: {
	margin: 0px;
	padding: 0px;
}

a:hover {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/* Navbar */

.navbar-brand {
	font-size: 35px;
	color: #fff;
}

.navbar-brand:hover {
	color: #fff;
}

nav .dropdown {
	padding-top: 15px;
	padding-bottom: 15px;
}

.nav>li>a {
	color: #fff;
}

.nav>li>a:hover, nav .dropdown:hover {
	background-color: #1D242B;
	color: #fff;
	cursor: pointer;
}

#headerDropdown {
	text-decoration: none;
	color: #fff;
}

#headerDropdown:hover {
	color: #fff;
}

.nav .open>a:hover, .nav .open>a:active, .nav .open>a {
	background-color: #1D242B;
}

.container {
	background-color: #000;
	width: 100%;
}


/* Main Content */

.main-content {
	margin-top: 30px;
}

.modal-dialog {
	margin-top: 10%;
}

/* Create Buttons Wrap */

.create-buttons-wrap {
	margin-top: 100px;
}

.habit-button-wrap {
	width: 300px;
	height: 200px;
	padding-left: 36px;
	padding-top: 50px;
	border-radius: 30px;
	color: #fff;
}

.habit-button-wrap:active {
	box-shadow: 0px 0px 10px #000 inset;
}

.break-habit-button {
	background-color: red;
}

.break-habit-button:hover {
	background-color: #CC0000;
}


.make-habit-button {
	background-color: green;
}

.make-habit-button:hover {
	background-color: #196C19;
}


/* New make habit */
.newmake-container form {
	margin-top: 70px;
	border: solid 1px black;
	padding: 15px;
	max-width: 500px;
}

.newmake-create-btn {
	float: right;
}


/* Dashboard */

.dashboard-wrap{
	margin-top: 70px;
}

.add-new-habit {
	border-radius: 15px;
	border: black solid 1px;
	padding-left: 50px;
}

.archived-habit-button {
	border-radius: 15px;
	border: black solid 1px;
	margin-top: 70px;
	text-align: center;
}

.add-icon {
	display: block;
	width: 91px;
	height: 90px;
	background-image: url("/images/plus_new-event.png");
	margin-left: 52px;
}

.habit-item {
	margin-bottom: 20px;
	border: black solid 1px;
	padding-left: 25px;
	padding-right: 25px;
}

.habit-item>a {
	display: inline-block;
	cursor: pointer;
}

.habit-item>a>h3 {
	display: inline-block;
	margin-top: 15px;
}

.habit-item>button {
	margin-top: 11px;
	float: right;
}

.log-notification {
	display: none;
	position: fixed;
	width: 400px;
	height: 250px;
	z-index: 99999;
	top: 30%;
	left: 36%;
	border-radius: 15px;
	border: solid 1px grey;
	color: #fff;
	text-align: center;
	padding-top: 80px;
}

#habits-header {
	margin-top: 0px;
	margin-left: 40px;
}